/** General Links **/#report-menu a { /* display:block;	line-height:16px;	font-size:11px;	text-decoration:none;	margin:8px 0;	color:#0099cc; */ }
/* a#emailLink, a#printLink, a#presentLink, a#pressLink, a#audioLink, a#pdfLink, a#downloadLink { display:block; line-height:17px; /* font-size:11px; */ padding-left:25px; margin:8px 0; /* color:#0099cc; */ height: 17px; }
 */
a#emailLink { background: url(images/general/email_icon.png) no-repeat;}
/* a#printLink { background: url(images/general/print_icon.png) no-repeat; } */
a#presentLink { background: url(images/general/presentation_icon.png) no-repeat; }
a#pressLink { background: url(images/general/press_icon.png) no-repeat; }
a#audioLink { background: url(images/general/audio_icon.png) no-repeat; }
a#pdfLink { background: url(images/general/pdf_icon.png) 0 -3px no-repeat; height: auto; line-height: 100%; margin-bottom: 15px; padding-bottom: 5px; }
a.download-section { font-weight:bold; text-decoration:none; }
a.download-section:hover { text-decoration:underline; }
#breadcrumb { font-size:15px; font-size: 13px; color:#999999; font-family:'Trade Gothic W01 Roman'; /*width:960px; margin:17px auto;*/ width:100%; position:relative; top:0px; background-color: #fff; padding:17px 0;}
#chi-page #breadcrumb{font-family:'Heiti', 'Microsoft Yahei', 'SimHei';}
#breadcrumb a { text-decoration:none; color:#458CB4;}
#breadcrumb a:hover { text-decoration:underline; }
#breadcrumb .pageLinkContainer{float:right;font-size: 15px;}
#breadcrumb #backToTopLink {padding: 2px 8px 4px;color: #fff;background-color: #0072A4;margin-bottom: 2px;margin-top: -3px;font-size: 13px;}
#breadcrumb #backToTopLink:hover{background-color: #8EAFBE;text-decoration:none;}
#chi-page  #breadcrumb .pageLinkContainer{font-size: 95%;}
.parent-pageid-86 #breadcrumb, .parent-pageid-315 #breadcrumb, .parent-pageid-131 #breadcrumb, .parent-pageid-317 #breadcrumb{background-color:#F5F6F7;}
/* header **/
#iconBtn{/* margin-top: -6px;*/float:left; margin-top: 3px;}
#iconBtn a{display:block;float:left;margin-right: 17px;/* font-family:entypo;font-size: 27px; */}
/* #iconBtn a:hover{text-decoration:none;} */
#headerShareBtn{background: url(images/general/btnShare.gif) no-repeat; width:16px;height:14px;text-indent:-9999px;}
#downloadLink{background: url(images/general/btnDownload.gif) no-repeat; width:16px;height:14px;text-indent:-9999px;}
#printLink{background: url(images/general/btnPrint.gif) no-repeat; width:16px;height:14px;text-indent:-9999px;}
a#text-small { font-size:10px; text-decoration:none; }
a#text-medium { font-size:12px; text-decoration:none; }
a#text-large { font-size:14px; text-decoration:none; }
#tti-logo { display: block; float: left; height: 78px; margin-left: 25px; margin-top: 25px; width: 85px; }
#site-title { float: left; margin: 79px 0 0 21px;/*margin-left:60px; line-height: 105px; text-indent: -9999px; margin-top: 47px;*/ }
#global-nav { margin-top:20px; font-size:90%; float:right; width:680px;}
#global-nav a, #second-nav a { color:#3B3B3B; text-decoration:none; font-family:'Trade Gothic W01 Roman'; font-size:14px;}
#chi-page #global-nav a,#chi-page  #second-nav a {font-family:'Heiti', 'Microsoft Yahei', 'SimHei';}
#chi-page  #second-nav a.lang-sel-link,#chi-page  #second-nav a#text-large,#chi-page  #second-nav a#text-medium,#chi-page  #second-nav a#text-small{font-family:'Trade Gothic W01 Roman';}
#global-nav a:hover, #second-nav a:hover { text-decoration:underline; }#second-nav .lang-sel-link{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';}#chi-page #second-nav .lang-sel-link{font-family: 'Trade Gothic W01 Cn 18';}
#global-nav-list{float:right; margin-top: 15px;}
#second-nav { margin-top: 75px; font-size:90%; float:right; clear:right; margin-right: 12px;}
#global-nav-list a, #second-nav-list a { margin:0 4px; }
a.lang-sel-link { display:inline; margin-right:5px; }
div#lang_sel_list { *height:1px;*margin-top:4px;*width:1px;}
#lang_sel_list ul { *width:80px;}
#lang_sel_list li { }
#search-bar {margin-right: 10px;float: left;margin-top: -5px;border: 1px solid #898989;}
#searchform, #searchform-404 { float:right; margin-left:10px; display:inline; width:179px; }
#searchform-404 { float:left; }input#site-search{width:90px; }input#site-search-404{width:180px;} 
input#site-search, input#site-search-404 { border:0; color:#aaa; font-size:11px; padding-left:5px; height: 25px; margin-right: 5px; *float:left;/* *display: inline; /*width:67px;*/  background:#fff; box-shadow:none;}
input#site-search-404 { float:left; /*margin-top:4px;*/ color:#aaa !important; }
#searchform input, #searchform-404 input { *float:left;}
#searchsubmit { /*display:inline;		*/ font-weight:bold; text-align:center; margin-top:1px; height:16px; line-height:16px; /*padding:0 5px;*/ padding-bottom:1px; }
#searchsubmit-404 { display:inline; font-weight:bold; text-align:center; margin-top:2px; height:16px; line-height:16px; padding:0 5px; float:right; }
#searchsubmit-404 { margin-top:4px; float:left; }
a#searchsubmit, a#searchsubmit-404 { /*	display:block;*/ cursor:pointer; display:block; float:right; text-indent:-9999px; width:20px; height:25px; background: url(images/general/btn_search.png) no-repeat 0 6px; margin-top: 2px; }
a#searchsubmit-404 { float:left; }
/* a#searchsubmit:hover,a#searchsubmit-404:hover{	color:#000;	background: url(images/general/search_btn_ol.gif) no-repeat;}
 */#main-nav { /*height:49px; width:100%; background-color: #0072A4;  -moz-box-shadow:0 3px 3px rgba(0,0,0,0.25); -webkit-box-shadow:0 3px 3px rgba(0,0,0,0.25); box-shadow: 0 3px 3px rgba(0,0,0,0.25); position:relative; z-index:899;*/
height: 59px;
width: 100%;
background-color: #0072A4;
background: url(images/general/main_nav_bg.jpg) repeat-x;
-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.25);
-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.25);
box-shadow: 0 3px 3px rgba(0,0,0,0.25);
position: relative;
z-index: 899;
}

/*.page-child #main-nav{-moz-box-shadow:none !important; -webkit-box-shadow:none !important; box-shadow:none !important;}
*/
/*#subNavContainer{position:absolute; top:181px; width:100%; z-index:899;}*/
#subNavContainer{position:relative; top:0; width:100%; z-index:899;}
#subNavContainer .notActive{background:#6C8691 !important;}
.subNavDiv{/*height:125px; */ width:100%; background: #c5d1d7; -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.25); -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.25); box-shadow:0 3px 3px rgba(0,0,0,0.25); position:relative; display:none; padding-bottom:30px;}
.subNavDiv .subNav{width:959px; margin:0 auto; /* padding-left:24px; */}
.subNavDiv .subNav ul{list-style:none; margin: 0;}
.subNavDiv .sub-nav {padding:5px 0 0 0 ;}
/* .subNavDiv .sub-nav li{border-bottom: 1px dashed #7B929C; display: block; padding:5px 9px 3px; margin-right: 13px; width: 288px; line-height:22px;} */
.subNavDiv .sub-nav li{border-bottom: 1px dashed #7B929C; display: block; padding: 9px 9px 1px 0; height:22px; margin-right: 58px; width: 396px; line-height:22px;}
.subNavDiv .sub-nav li a{color:#2F5364; font-family: 'Trade Gothic W01 Roman'; font-size:14px;}
.subNavDiv .sub-nav li a:hover{text-decoration:none !important;font-family: 'Trade Gothic W01 Bold 2';}
.sub-nav li.current_page_item, .sub-nav li.current_page_parent{/*padding-bottom: 2px;*/}
.sub-nav li.current_page_item a, .sub-nav li.current_page_parent a, .sub-nav li.current_page_ancestor a{font-family: 'Trade Gothic W01 Bold 2';line-height: 22px;}

.executiveSubNav{height:130px;}
.executiveSubNav .sub-nav li{float:none !important;}
.page-item-326, .page-item-13, .page-item-27, .page-item-3636, .page-item-3639{margin-left: 0px;}
.page-item-2589, .page-item-3643, .page-item-1470, .page-item-3712, .page-item-3645, .page-item-5322, .page-item-3714{margin-left: 454px;}
.page-item-2589{margin-top:-95px;}
.page-item-3643, .page-item-3645{margin-top: -131px;}

.page-item-328, .page-item-18, .page-item-158{margin-left: 0px;}
.page-item-2591{margin-left: 330px;}
.page-item-2591{margin-top:-95px;}

.page-item-64, .page-item-68{margin-left: 0px;}
.page-item-70, .page-item-72, .page-item-150, .page-item-152{margin-left: 454px;}
.page-item-70{margin-top:-63px;}

.page-item-138, .page-item-154{margin-left: 0px;}
.page-item-150{margin-top:-63px;}

.page-item-88, .page-item-286, .page-item-294{margin-left: 0px;}
.page-item-298, .page-item-302, .page-item-306{margin-left: 325px;}
.page-item-311, .page-item-315{margin-left: 650px;}
.page-item-298, .page-item-311{margin-top:-95px;}

.page-item-136, .page-item-291, .page-item-296{margin-left: 0px;}
.page-item-300, .page-item-304, .page-item-308{margin-left: 325px;}
.page-item-313, .page-item-317{margin-left: 650px;}
.page-item-300, .page-item-313{margin-top:-88px;}

.finicialSubNav{height:100px;}
.finicialSubNav .sub-nav li{width:290px !important;}
.finicialSubNav li.current_page_item, .finicialSubNav li.current_page_parent{padding-bottom: 2px!important; padding-top:4px!important;}
#chi-page .subNavDiv .sub-nav li{ 
	(-bracket-:hack;
        line-height:23px !important;
   );
}
#chi-page .finicialSubNav .sub-nav li{width:288px !important; padding-bottom:1px;}
#chi-page .subNavDiv .sub-nav li a{font-family:'Heiti', 'Microsoft Yahei', 'SimHei';}
#chi-page .subNavDiv .sub-nav li a:hover{font-weight:bold;}
#chi-page .finicialSubNav li.current_page_item, .finicialSubNav li.current_page_parent{padding-bottom: 3px!important; padding-top:3px!important;}
#chi-page .sub-nav li.current_page_item a,#chi-page  .sub-nav li.current_page_parent a,#chi-page  .sub-nav li.current_page_ancestor{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';font-weight:bold;}

#masthead { position:relative;}
/*** HOME --------------------------------------------------------------------***/#home-container .content { font-size:100%; line-height:20px; }
#home-top { width:100%; overflow:hidden; margin-bottom:5px; }
#home-slides { position:relative; width:602px; height:189px; width:771px; margin-bottom:21px; }
#content #bannerHeading1 { font-size: 130%; font-weight: bold; position: relative; line-height: 130%; margin-bottom: 20px; }
#content #bannerHeading2 { font-weight: bold; font-size: 110%; margin: 0; }
#content #bannerBtnMore { position:absolute; right:0; bottom:0; margin:0; }
#bannerBtnMore a { text-decoration:underline; }
#rotator { margin-left:169px; list-style: none; width:602px; height:189px; position:relative; }
#rotator div { position:relative; left: 25px; top: 15px; width: 410px; }
#rotator .bannerContent { position:relative; left: 15px; top: 15px; width: 130px; line-height: 130%; }
#rotator .bannerContent a { color:#fff; }
#rotator li { position:absolute; width:602px; height:189px; overflow:hidden; display:none; }
#rotator li  a{display: block;width: 100%;height: 100%;}
#rotator_controls { float:left; width:169px; list-style: none; margin:0; }
#rotator_controls li a { text-indent:-9999px; display: block; }
#bannerTab0 { display:none; }
#bannerTab1 a { background-position:-169px 0; }
#bannerTab2 a { background-position:-169px 0; }
#bannerTab3 a { background-position:-169px 0; }
#bannerTab4 a { background-position:-169px 0; }
#bannerTab1 a.current { background-position:-338px 0; }
#bannerTab2 a.current { background-position:-338px 0; }
#bannerTab3 a.current { background-position:-338px 0; }
#bannerTab4 a.current { background-position:-338px 0; }
#bannerTab1 a.start { background-position:0 0; }
#bannerTab2 a.start { background-position:0 0; }
#bannerTab3 a.start { background-position:0 0; }
#bannerTab4 a.start { background-position:0 0; }
#photo_0 { }
#photo_1 { background:url(images/home/home_banner1.jpg) no-repeat; }
#photo_2 { background:url(images/home/home_banner2.jpg) no-repeat; }
#photo_3 { background:url(images/home/home_banner3.jpg) no-repeat; }
#photo_4 { background:url(images/home/home_banner4.jpg) no-repeat; }
#home-menu { width:180px; height:185px; float:right; background:#d6e0e5; }
.home-menu-row { padding: 5px 10px; background: url(images/general/sidebar_bg.jpg) repeat-x; }
.home-menu-row .title, #home-middle .title, #home-bottom .title { font-weight:bold; color:#000; font-size: 90%; margin-bottom:5px; margin-top:10px; }
#home-middle { margin-bottom:10px; overflow:hidden; }
.home-left { padding:5px 10px; /* border-top:5px solid #0088bf; */ width:355px; /* height:125px; */ float:left;/* background:#f6f7f8; */ }
#executive-msg h3, #home-bottom-container h3 { font-size: 120%; font-weight: bold;}
#executive-msg h3 a, #home-bottom-container h3 a { color:#000; }
div#executive-msg a:hover { text-decoration:underline; }
a.executive-name { text-decoration:none; color:#0089bf; font-size:12px; line-height:14px; display:block; }
a.executive-msg:hover, a.executive-name:hover { text-decoration:underline; }
.home-right { padding: 5px 10px 5px 7px; width: 358px;  float:right;}
#home-middle-right { padding:5px 10px; border-top:5px solid #0088bf; width:160px; height:125px; float:right; background:#f6f7f8; }
ul#home-financialHL-list { color:#4b6a79; font-size:12px; }
#home-bottom { margin-bottom:15px; width:100%; overflow:hidden; }
#home-bottom a.header { font-weight:bold; text-decoration:none; color:#0089bf; display:block; line-height:16px; font-size: 85%; }
#home-bottom a.header:hover { text-decoration:underline; }
#home-bottom-one { padding:5px 10px; border-top:5px solid #0088bf; width:355px; float:left; }
#home-bottom-two { padding:5px 10px; border-top:5px solid #0088bf; width:355px; float:left; margin-left:13px; display:inline; }
#home-bottom-three { padding:5px 10px; border-top:5px solid #0088bf; width:240px; height:140px; min-height:140px; height: auto !important; float:left; background:#f6f7f8; margin-left:13px; display:inline; }
#home-bottom-four { padding:10px; border-top:5px solid #0088bf; width:160px; height:140px; min-height:140px; height: auto !important; float:right; }
#home-bottom-one .content, #home-bottom-two .content, #home-bottom-four .content { line-height:16px; font-size: 85%; }
#home-middle-container .home-left, #home-middle-container .home-right { height: 128px; }
.home-grad-box .title { text-indent:-9999px; }
#content #title-executive-messages { /* background: url(images/home/title_executive_messages.jpg) no-repeat;  */ width:142px; height:18px; margin-bottom: 5px; }
#content #title-finanical-highlight { /* background: url(images/home/title_finanical_highlight.jpg) no-repeat; */ width:139px; height:18px; margin-bottom: 9px; }
#content #title-review-operation { /* background: url(images/home/title_review_operation.jpg) no-repeat; */ width:145px; height:18px; margin: 5px 10px; }
#home-middle-container { margin-bottom:20px; margin-right: 7px; *height:142px;*width:765px;}
#home-bottom-container { padding-bottom:10px; margin-right: 7px; *height:146px;*width:765px;}
.hl-item, .fhl-item { display:none; }
#financeHlContainer{width:362px;height:92px;}
#hlContainer-prev-btn { position:absolute; margin-left:190px; }
#fhlContainer-prev-btn { position:absolute; margin-top:-30px; margin-left:330px; }
#hlContainer-prev-btn a, #fhlContainer-prev-btn a { background: url(images/general/home_arrow_prev_dl.png) no-repeat; width:14px; height:15px; display:block; outline:none; }
#hlContainer-prev-btn a:hover, #fhlContainer-prev-btn a:hover { background: url(images/general/home_arrow_prev_ol.png) no-repeat; }
#hlContainer-next-btn { position:absolute; margin-left:210px; }
#fhlContainer-next-btn { position:absolute; margin-top:-30px; margin-left:350px; }
#hlContainer-next-btn a, #fhlContainer-next-btn a { background: url(images/general/home_arrow_next_dl.png) no-repeat; width:14px; height:15px; display:block; outline:none; }
#hlContainer-next-btn a:hover, #fhlContainer-next-btn a:hover { background: url(images/general/home_arrow_next_ol.png) no-repeat; }
/** FOOTER */
.bottomNav{font-size: 100%; margin: 20px 0 0 0; padding-top: 50px;font-family:'Trade Gothic W01 Roman';width: 960px;margin: 0 auto;margin-bottom: 20px;}
.bottomNav a{font-size: 15px}
#chi-page .bottomNav a {font-family: 'Heiti','Microsoft Yahei','SimHei';}
#footer { /* margin-top:10px; */ }
#copyright-footer {clear:right;float:right; font-family: 'Trade Gothic W01 Roman'; font-size:15px; color:#000;}
#chi-page #copyright-footer{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';}
#footer-links { float:left; font-size:11px;}
#footer-links a { color:#000; margin:0 5px; text-decoration:none; font-family: 'Trade Gothic W01 Roman'; font-size:15px;}
#chi-page #footer-links a{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';}
#footer-links a:hover { text-decoration:underline; }
#footer .footerLogoTable tr td{ vertical-align:middle; padding-right:15px;}
.home-grad-box { background: url(images/home/home_content_box_bg.jpg) repeat-x; }
.home-grad-box p { font-size:100%; line-height:130%; }
/** REPORT PAGE **/#report-page-container { width:100%; overflow:hidden; }
#report-top { /* background: #e8eced; */	/* padding:20px; */ width:960px; overflow:hidden; height:215px; /* min-height:175px; */ background: url(images/general/inner_title_bg.jpg) no-repeat; position: relative;/* height:auto !important; */ }
#report-title { /* float:left; */ position: absolute; left: 92px; top: 18px; }
#report-page-heading { font-size:30px; font-weight:bold; color: #4B6A79; /* line-height:30px; */	/* padding-bottom:15px; */ margin-bottom:19px;/* border-bottom:1px solid #000; */ }
#report-page-sub-heading { font-size:20px; color:#000; }
#report-subpage { position: absolute;left: 598px;top: 10px;width: 283px; }
#report-subpage ul { list-style:none; margin:0;}
#report-subpage ul li { margin-bottom: 4px; line-height: 100%; padding-left: 10px; background:url(images/general/subnav_arrow_off.png) 0 4px no-repeat; }
#report-subpage ul li ul.children li{float:left;width: 135px;background: url(images/general/subNavPt.gif) 0 6px no-repeat;margin-bottom: 0;}
#report-subpage ul li ul.children li a{font-size: 11px;}
#report-subpage ul li.current_page_item, #report-subpage ul li.current_page_ancestor { background:url(images/general/subnav_arrow_on.png) 0 4px no-repeat; }
#report-subpage ul li.current_page_item a,#report-subpage ul li.current_page_ancestor  a{color: #000;}
/* #report-subpage ul li.current_page_item a, #report-subpage ul li.current_page_ancestor a  { color:#000; }
 */#report-subpage ul.children a, #report-subpage ul.children a,#report-subpage li.current_page_item ul.children a,#report-subpage li.current_page_ancestor ul.children a { color:#4B6A79; }
#report-subpage li.current_page_ancestor li.current_page_item{background: url(images/general/subNavPtOn.gif) 0 6px no-repeat;}
#report-subpage ul.children{margin-left:0;height:30px \9;}
#report-subpage ul.children::after {content: " ";display: block;height: 0;clear: both;font-size: 0;visibility: hidden;}
#report-subpage ul.children li.current_page_item a, #report-subpage ul.children li.current_page_ancestor a { color:#000; }
#report-subpage a { font-size:12px; color: #466678; line-height: 15px; }
#report-subpage a.active { color:#4c6c7b; }
#report-subpage a:hover { text-decoration:underline; }
#report-subpage ul.children li.page-item-2075,#report-subpage ul.children li.page-item-2084{width:100px;}
#report-subpage ul.children li.page-item-2078,#report-subpage ul.children li.page-item-2086{width:80px;}
#report-content-container { width:100%; overflow:hidden; }
#report-content { /* width:984px; padding-right:20px;	border-right:1px solid #ccc; */  overflow:hidden; font-size:100%;/* margin-bottom: 40px; */ font-family: 'Trade Gothic W01 Roman';}
body.page-id-1476 #report-content,body.page-id-1480 #report-content{height:494px;}
.report-content-240 { width:262px; float:left; }
.report-content-515 { margin-left: 282px; font-size:100%; line-height:16px; }
.report-content .title, .report-content-240 .title { color:#4b6a79; font-weight:bold; font-size:110%; }
.report-content-515 .title { color:#4b6a79; font-weight:bold; font-size:110%; margin-bottom:10px; }
.report-content .sub-title, .report-content-240 .sub-title, .report-content-515 .sub-title { color:#4b6a79; font-size:80%; }
.report-content .sub-title2, .report-content-240 .sub-title2, .report-content-515 .sub-title2 { color:#4b6a79; }
.report-content-515 .sub-title2 { font-weight:bold; }
.sub-title { color:#4b6a79; font-size:100%; /*margin-left:20px;*/ }
.report-content-515 .quote { color:#4b6a79; /*font-weight:bold;*/ font-size:130%; margin-bottom:15px; line-height:140%; }
.report-content-515 ul { list-style: outside; }
.report-content-515 ul .sub-title { color:#4b6a79; font-weight: bold; font-size:100%; }
.quote{padding-left:20px; font-family: 'Trade Gothic W01 Bold 2';font-size: 1.3em;line-height: 130%;padding-bottom: 1em;color: #0072A4;background: url(images/home/chairman_quote_open.png) no-repeat top left;}
.innerPageCenterDiv .oneColumnPageHeaderContainer .quote{background: none;padding-left: 0 }
.chairmanStatementRight .quote{padding-bottom: 2em;}
.quoteClose{background: url(images/home/chairman_quote_close.png) no-repeat;width:14px;height:11px;display: inline-block;margin-left: 5px;margin-bottom: -5px;}
#report-content .quote p {font-size: 105%;font-family: 'TradeGothicW01-BoldCn20 675334'; letter-spacing: -1px;line-height: 130%; padding-bottom: 25px; color:#777;}
#chi-page #report-content .quote p {font-size: 90%;}
#chi-page .quote{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';font-weight:bold;letter-spacing: 1px;line-height: 150%;font-size: 130%;}
#chi-page .quote p{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';font-weight:bold;}
span.person-title { font-size:70%; /*color:#4b6a79;*/ }
#report-content p{ padding-bottom: 1.5em; /*line-height:190%;*/line-height: 180%;font-family: 'Trade Gothic W01 Roman';}
.homeSection p,.homeSection ul {padding-bottom: 20px;font-size: 16px;line-height: 24px;}
#chi-page .homeSection p,.homeSection ul {line-height: 30px;}
.homeSection li{padding-bottom: 5px;}
#chi-page #report-content p{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';}
#chi-page #report-content p,#chi-page #report-content td{/* font-family: 'Heiti', 'Microsoft Yahei', 'SimHei'; */letter-spacing: 1px;line-height: 170%}
#report-content h6, .homeSection h6{font-size: 1.2em;/*padding: 5px 0 5px;*/font-family: 'Trade Gothic W01 Bold 2';font-weight: normal;color: #000;padding-bottom: 0.3em;}
.homeSection h6{font-size: 18px;}
#chi-page #report-content h6,#chi-page .homeSection h6{font-family: 'Heiti', 'Microsoft Yahei', 'SimHei';font-weight: bold;letter-spacing: 1px;}
#report-menu { width:180px; float:right; }
.report-menu-sep { margin:20px 0; margin-bottom:10px; display:block; height:1px; border-top:1px solid #aaa; }
.report-menu-title { color:#000; font-weight:bold; font-size:12px; line-height:16px; }
.sub-menu-heading { padding-left: 10px; padding-top: 3px; clear:both; width:100%; overflow:hidden; background: url(images/general/subNavBg.jpg) repeat-x; height:29px; }
.sub-menu-heading .current_page_item a { font-weight:bold; color:#000; border-bottom: 2px solid black;padding-bottom: 2px;}
.sub-menu-heading li { list-style:none; float:left; }
.sub-menu-heading li a {/*  border-top:3px solid #0088bf;  */ color:#466678; text-decoration:none; margin-right: 15px; float:left; }
.sub-menu-heading a:hover { text-decoration:underline; }
/*.report-collapse-header { border-top:3px solid #0088bf; background:#e8eced; color:#0088bf; padding-left:10px; font-size:100%; border-bottom:1px solid #aaa; cursor:pointer; margin-top:20px; }
.report-collapse-header .toggleButton { float:right; margin-right:10px; text-indent:-999px; background: url(images/general/drawers_arrow_up.png) no-repeat 0 60%; width:10px; }
.report-collapse-header .toggleButtonOpened { background: url(images/general/drawers_arrow_down.png) no-repeat 0 60%; }
.report-collapse-content { background:#e8eced; font-size:100%; display:none; padding:10px; line-height:140%; overflow:hidden; }
*/.brands-collapse-header .toggleButton { float:right; margin-right:10px; text-indent:-999px; background: url(images/general/drawers_arrow_white_down.png) no-repeat 0 50%; width:10px; }
.brands-collapse-header .toggleButtonOpened { background: url(images/general/drawers_arrow_white_up.png) no-repeat 0 50%; }
.brands-collapse-header { border-top:3px solid #0087c1; color:#fff; padding-left:10px; font-size:100%; border-bottom:1px solid #343434; cursor:pointer; margin-top:20px; height:50px; line-height:50px; font-weight:bold; }
.brands-collapse-header .brand-img { display:block; float:left; width:100px; }
.brands-collapse-header img { vertical-align:middle; }
.brands-collapse-header .desc { float:left; margin-left:60px; }
.brands-collapse-header .toggleButton { float:right; margin-right:10px; font-weight:normal; }
.brands-collapse-content { font-size:100%; display:none; padding:10px; line-height:140%; }
.brands-item { float:left; margin-right:10px; margin-bottom:20px; display:inline; text-align:left; }
.brands-pics { float:right; text-align:right; width:70%; margin-top:20px; }
.brand-desc { padding-top:20px; float:left; width:25%; }
.review-operation-desc { float:left; width: 60%; }
.finance-notes-sub-title { color:#666; margin-bottom: 0.5em; font-family: 'Trade Gothic W01 Bold 2';}
#chi-page .finance-notes-sub-title {font-size: 110%;font-family: 'Heiti', 'Microsoft Yahei', 'SimHei'; }
.GSM-header { font-size: 130%; font-weight: bold; color: #333; width:95%; border-bottom:1px solid #aaa; }
.GSM-country { font-size: 110%; font-weight: bold; color: #555; margin-bottom:5px; }
.report-sub-sub-title { color: #466678; }
.report-sub-section { margin-left: 2em; }
.report-sub-section .report-sub-section{margin-left: 3.8em;}
.report-sub-sub-section { margin-left: 3em; }
.report-sub-sub-title em{font-style: italic;display: block;font-size: 90%;color: #666;font-weight: bold;}
/*** sitemap ***/#sitemap-container { width:100%; overflow:hidden; }
.sitemap-item { /* border-top:3px solid #0088bf; */ width:19%; margin-right:1%; float:left; margin-bottom: 30px; }
.sitemap-item a { line-height:16px; margin: 10px 0; font-size: 90%; text-decoration:none; /* color:#0088bf; */ display:block; }
.sitemap-item a:hover { text-decoration:underline; }
.sitemap-item .title a { font-weight:bold; text-decoration:none; /* color:#0088bf; */ font-size: 90%; line-height:12px; }
/** TABLE STYLES **/.sitemap-item .title{border-bottom: 1px solid #496978;height: 2em;}
.sitemap-item .sitemap_subnav{margin: 5px 0 5px 15px;}
tr.blue-border-top td { border-top:3px solid #007daa; }
tr.thick-border-bottom td { border-bottom:2px solid #666; }
tr.thin-border-bottom td { border-bottom:1px solid #666; }
td .indent-1 { margin-left:1em; }
td .indent-2 { margin-left:2em; }
td .indent-3 { margin-left:3em; }
.notes { font-size:80%;margin-bottom: 2em; }
.notes-row { width:100%; overflow:hidden; }
.notes-number { float:left; display:block; width: 50px; }
.notes-content { /* float:left;  */margin-left:50px; display:block; /* width:600px; */ }
/*search form*/.dot-notes-content{float:none;margin-left: 10px;}
.dot-notes-number{width:10px;}
.wpcf7-form p, .wpcf7-form input, .wpcf7-form select { padding:0; margin:0; }
span.mandatory-field { color:#ff0000; font-weight:bold; }
table.contact tr td { font-size: 100% !important; padding: 5px 0 !important; }
table.contact input, table.contact select, table.contact textarea { width:200px; background:#fff; }
table.contact input[type=file] { }
table.contact td.title { font-weight:bold; font-size: 16px; border-bottom:1px dotted #ccc; padding-top:30px !important; }
.wpcf7-submit-english, .wpcf7-submit-tc { background: url(images/general/send_my_enquiry.jpg) no-repeat !important; width:138px; height:30px; text-indent:-999px !important; border:0 !important; margin-left:72px !important; display:block !important; cursor:pointer; }
.wpcf7-submit-tc { background: url(images/general/send_my_enquiry_tc.jpg) no-repeat !important; margin-left:112px !important; }
div.fileinputs { position: relative; }
div.fakefile { position: absolute; top: 0px; left: 0px; z-index: 1; }
input.wpcf7-file { position: relative; text-align: right; -moz-opacity:0; filter:alpha(opacity: 0);opacity: 0; z-index: 2; cursor:pointer; }
input.wpcf7-file:hover { cursor:pointer; }
a#fileButton { background: url(images/general/btn_browse_dl.gif) no-repeat; width:70px; height:21px; display:block; float:right; cursor:pointer; }
a.fileButton-hover { background: url(images/general/btn_browse_ol.gif) no-repeat !important; }
a#fileButton-tc { background: url(images/general/btn_browse_tc_dl.gif) no-repeat; width:70px; height:21px; display:block; float:right; cursor:pointer; }
a.fileButton-tc-hover { background: url(images/general/btn_browse_tc_ol.gif) no-repeat !important; }
.strategic_drivers_four_factor_links_container { margin-bottom: 7px; }
/*updated by Ron on 9/4/2012*/.report-collapse-header {display: block; border-top:2px solid #3C4E52; background:#D1DADB; color:#3B4D52; padding:4px 0 4px 10px; font-size:100%; cursor:pointer; font-weight:bold; /* text-transform:uppercase; */ }
.bod-collapse-container .report-collapse-header{margin:0;text-transform:none;}
.bod-collapse-container{margin-bottom:10px;overflow : hidden;}
.mda-collapse-container{margin-bottom:10px;overflow : hidden;}
.ro-collapse-container {margin-bottom: 40px;overflow : hidden;}
.report-collapse-container{margin-bottom:20px;overflow : hidden;}
.bod-collapse-container .report-collapse-header{font-weight:normal;}
.report-collapse-header .toggleButton { float:right; margin-right:10px; text-indent:-999px; background: url(images/general/drawers_arrow_white_down.png) no-repeat 0 60%; width:10px; }
.report-collapse-header .toggleButtonOpened { background: url(images/general/drawers_arrow_white_up.png) no-repeat 0 60%; }
.report-collapse-content { border-bottom:1px solid #3C4E52; font-size:100%; display:none; padding:10px; line-height:140%; overflow:hidden; }
.ro-collapse-container .report-collapse-content {padding:10px 0;}
.report-collapse-content li{margin-bottom:0.5em;}
.report-paragraph-title { display:block; font-size:110%; color:#4B6A79; font-weight:bold; }
.calendar_date{width:100px;display:block;float:left;}
.calendar_content{margin-left:100px;display:block;}
.linkDiv{position:absolute;display:block;height:100%;width:100%;z-index:999;background: url(images/general/transparent.gif)}
.number-list li{list-style-type:decimal}
.page-child #wrapper{/*margin-top:128px;*/}
.removeBtmShadow{-moz-box-shadow:none !important; -webkit-box-shadow:none !important; box-shadow:none !important;}
/*.page-child .subNavDiv{background:url(images/general/bg_subNav_top_shadow.png) repeat-x #737373;}
*/